/* body{
    width: 1200px;
} */

.intestazione{
    height: 160px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: lightseagreen;
    /* background-size: cover; */
    background-repeat: repeat;
}

#logo{
    width: 190px;
    height: 220px;
}
.didascalia_title{
    color: grey;
    font-size: 20px;
}

.didascalia_tim{
    font-size: 12px;
}

h4{
    color: lightslategrey;
    font-size: bold;
}

span, .yellow_line{
    background-color: lime;
} 

.impostazioni_tab_1{
    text-align: center;
}

.tabella_color_blue{
    background-color: mediumblue;
}

.colonna_grande{
    width: 40%;
    text-align: left;
}

.tabella_color_green{
    background-color: mediumspringgreen;
}